@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Varela Round", sans-serif;
}
a{
  text-decoration: none;
}
html, body{
  overflow-x: hidden;
}
/* Responsive Section Starts */

/* Navbar Section Responsive and Css  */

@media screen and (max-width: 768px) {
  .navbar-expand-lg .navbar-nav {
    flex-direction: column !important;
  }
}
.breadcrumb{
  justify-content: center;
}
.noticeOne {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(Assets/image/loading-of-cargo-airplane-2023-11-27-05-35-58-utc-1536x1024.jpg);
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-bottom: 91px;
}
@media screen and (max-width: 768px) {
.noticeOne{
  height: 270px;
}
}
@media screen and (max-width: 768px) {
.about-border-two {
  border: 2px solid orange;
  width: 200% !important;
  margin-left: 0px !important;
  height: 665px  !important;
 

}
}
.accordion-item{
  border: none !important;
  box-shadow: #F14902 !important;
}
@media screen and (max-width: 768px) {
.get-two {
  background-color: rgb(255, 174, 33);
  width: 392px !important;
  margin-bottom: 50px;
  position: absolute;
  /* transform: matrix(1, 0, 0, 1, 0, 0); */
  /* width: 900px; */
  /* right: 0; */
  transform: translateY(-90px);
  margin-right: 30px;
}
}
@media screen and (max-width: 768px) {
  .del-main{
    text-align: center !important;
  }
}
@media screen and (max-width: 768px) {
.foo-contact {
  margin-top: 30px;
  justify-content: space-around;
  text-align: center;
  margin-left: 62px;
}
}
@media screen and (max-width: 768px) {
get-in-touch-social-icon-one{
  text-align: left !important;
  padding-left: 0px !important;
}
}

@media screen and (max-width: 768px) {
.about-img-wrapper-two {
  display: flex;
  position: relative;
  right: 0px !important;
}
}
@media screen and (max-width: 768px) {
.get-in-touch-social-icon-one {
  display: flex;
 


}
}
@media screen and (max-width: 768px) {
.footer-menu-links li{
  text-align: left !important;
}
}
@media screen and (max-width: 768px) {
.footer-contact{
text-align: left !important;
}
}
@media screen and (max-width: 768px){
.foo-contact {
    margin-top: 30px;
    justify-content: space-around;
    text-align: center;
    margin-left: 0px !important;
}
}
@media screen and (max-width: 768px) {
.about-img-wrapper-two{
  margin-top: 20px !important;
}
}
@media screen and (max-width: 768px) {
.form-control {
  display: block;
  width: 45% !important;
}
}
.orange-border{
  border: 1px solid #FFAE21;
  padding: 16px 32px 16px 32px;
  
}
.form-control {
  display: block;
  width: 95%;
  /* height: calc(1.5em + 2px + 0.75rem); */
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(73, 80, 87);
  background-color: rgb(255, 255, 255);
  background-clip: padding-box;
  border: 1px solid #FFAE21(206, 212, 218);
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}
@media screen and (max-width: 768px) {
div#navbarSupportedContent {
  background: beige;
}
}
@media screen and (max-width: 768px) {
  .about-img-wrapper{
   height: 130vh !important; 
  }
}
@media screen and (max-width: 768px) {
.about-border{
  border: 2px solid orange;
    width: 100% !important;
    margin-left: 0px !important;
    height: 912px  !important;
}
}
@media screen and (max-width: 768px) {
.about-img-two img {
  width: 433px !important;
  height: 224px !important;
}
}
@media screen and (max-width: 768px) {
.about-img-two{
  width: 100% !important;
  height: 100% !important;
  margin-right: 100px !important ;
  position: relative !important ;
  top: -68px  !important ;
  left: 0px !important ;
}
}
@media screen and (max-width: 768px) {
.about-img-three {
  position: absolute;
  top: 39% !important;
  left: -20% !important;
  margin-left: 10%;
  right: 10%;
}
}
@media screen and (max-width: 768px) {
.hero-section {
  height: 5px;
  color: #141414;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(Assets/image/imageone.jpg);
  background-size: cover;
  width: 100%;
  height: 1500px !important;
  margin-bottom: 244px;
}
}
@media screen and (max-width: 768px) {
.truck img {
  margin-right: 40px;
  height: 324px !important;
  width: 363px !important;
  margin-bottom: 53px;
}
}
@media screen and (max-width: 768px) {
.header-contacts{
display: none !important;
}
}
@media screen and (max-width: 768px) {
.orange-background {
  background-color: #F14902 ;
  height: 27%!important ;
  width: 99% !important ;
  left: 0% !important ;
  top: 72% !important ;
  padding-top: 15px !important ;
  border: 4px solid white !important ;
  border-radius: 10px !important ;
  z-index: 3 !important ;
}
}
@media screen and (max-width: 768px) {
.container-abt {
  margin-top: 0px; 
  margin-left: 0px; 
  margin-right: 0px;
}
}
@media screen and (max-width: 768px) {
.about-img-one img {
  /* border-radius: 10px; */
  width: 400px !important;
  height: 256px !important;
  /* margin-left: 19px; */
}
}
@media screen and (max-width: 768px) {
.about-img-one img {
  /* border-radius: 10px; */
  height: 100% !important;
  width: 100% !important;
  margin-left: 0px !important;
}
}
@media screen and (max-width: 768px) {
  .container-two{
    display: flex;
  }
}
@media screen and (max-width: 768px) {
.site-footer{
text-align: center !important;
}
}
@media screen and (max-width: 768px) {
.blogs {
  min-height: min-content;
  margin-bottom: 0px !important;
  margin-right: 0px !important;
  /* margin-top: 100px; */
  margin-left: 0px !important;
}
}
@media screen and (max-width: 768px) {
.discover-btn {
  width: 293.92px !important;
}
}
.breadcrumb-item+.breadcrumb-item::before {
  float: left;
  padding-right: var(--bs-breadcrumb-item-padding-x);
  color: white;
  content: var(--bs-breadcrumb-divider, "/");
}
@media screen and (max-width: 768px) {
.section-description {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #555555;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
}
@media screen and (max-width: 768px) {
.section-sub-heading {
  font-family: Lato, sans-serif;
  font-size: 32px !important;
  color: rgb(0, 0, 0);
  font-weight: 700;
  /* padding-bottom: 20px; */
}
}
@media screen and (max-width: 768px) {
.orange-text {
  font-family: sans-serif;
  font-size: 32px !important;
  color: #FFCA2C;
  font-weight: bold;
  height: 30px;
}
}
@media screen and (max-width: 768px) {
.why-chose-us-img .discover-btn-more {
  margin-right: 60px;
  border: 2px solid #FFCA2C !important;
}
}
@media screen and (max-width: 768px) {
.why-chose-us-img .discover-btn-more {
  /* margin-right: 60px; */
  margin-left: 30px !important
  ;
}
}
@media screen and (max-width: 768px) {
.partners {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  background-color: #FAFAFA;
  padding:  0px !important;
  padding-top: 50px !important;
  padding-bottom: 50px !important;
  justify-content: space-evenly !important;
}
}
@media screen and (max-width: 768px) {
.pat{
  
  justify-content: space-evenly;
}
}
@media screen and (max-width: 768px) {
.ptn-logo{
  padding-bottom: 30px;
}
}
@media screen and (max-width: 768px) {
.ner-one {
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: 31px !important;
  font-weight: 600;
  margin: 0;
  z-index: 1500;
  margin-left: 0px !important;
  padding-bottom: 50px !important;
}
}
@media screen and (max-width: 768px) {
.about-img-one-re {
  position: static !important;
  margin-right: 0px !important;
  top: 32px;
  left: 0px;
  margin-left: 0px !important;
}
}
@media screen and (max-width: 768px) {
.about-img-one-re {
padding-bottom: 20px !important;
}
}
@media screen and (max-width: 768px) {
  .about-img-two-re {
  padding-bottom: 20px !important;
  }
  }
@media screen and (max-width: 768px) {
.about-img-two-re {
  position: relative;
  right: 0px !important;
  top: 0px !important;
  right: 0px !important;
  margin-left: 0px !important;
  width: 340.75px !important;
  height: 241.81 !important;
}
}
@media screen and (max-width: 768px) {
.orange-background-re {
  background-color: #FFAE21;
  height: 207.25px;
  width: 341.17px !important;
  left: 0px !important;
  padding-top: 15px;
  border: 4px solid white;
  border-radius: 10px;
  z-index: 4;
  position: relative;
  top: 0px !important;
}
}
/* @media screen and (max-width: 768px) {
.del-main {
  margin-top: 100px;
  justify-content: center;
  height: 0px !important;
  color: #F14902;
  background-image: url(Assets/image/logo/texture.png);
}
} */
@media screen and (max-width: 768px) {
.section-heading{
  font-family: "Lato", sans-serif;
  font-size: 17.6px;
  color: #FFAE21;
  font-weight: 900;
  justify-content: center;
  text-align: center;
}
}
@media screen and (max-width: 768px) {
.section-sub-heading{
  text-align: center;
}
}
@media screen and (max-width: 768px) {
.text-start{
  text-align: center;
}
}
/* Section Ends */

.section-heading{
  font-family: "Lato", sans-serif;
  font-size: 17.6px;
  color: #FFAE21;
  font-weight: 900;
}
.section-heading-one{
  font-family: "Lato", sans-serif;
  font-size: 17.6px;
  color: #ffffff;
  font-weight:900;
}
.section-heading-two h2{
  font-family: "Lato", sans-serif;
  font-size: 51.2px;
  color: #ffffff;
}
.section-sub-heading{
  font-family: "Lato", sans-serif;
    font-size: 51.7px;
    color: #000000;
    font-weight: 700;
}
.section-sub-heading-four{
  font-family: "Lato", sans-serif;
    font-size: 51.7px;
    color: white;
    font-weight: 700;
}
.section-sub-heading-one{
  font-family: "Lato", sans-serif;
  font-size: 29.7px;
  color: #000000;
  font-weight:700;
  
}
.section-description{
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #555555;
}
.section-description-three{
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
  color: #555555;
}
.section-description-two{
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #ffffff;
}
.orange-text-one{
  font-family: sans-serif;
  font-size: 35px;
  color: #FFCA2C;
  font-weight: bold;
  height: 30px;
}
.orange-text{
  font-family: sans-serif;
  font-size: 51.2px;
  color: #FFCA2C;
  font-weight: bold;
  height: 30px;
}
.black-text {
  font-family: sans-serif;
  font-size: 51.2px;
  color: #000000;
  font-weight: 600;
}

.header-contacts{
    background: #393536;
}
.header-contacts svg{
    color: #FFAE21;
    width: 24px;
    height: 24px;
}
.header-contacts p{
    color: #fff;
}

/* .container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1250px;
   
} */


.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 1250px;
}
.nav-link{
  margin: 0 20px;
}
.get-in-touch-social-icon{
    display: flex;
  margin-left: 50px;
}
.get-in-touch-social-div{
  height: 55px;
  width: 55px;
}
.get-in-touch-social-div svg{
  color: #FFAE21;
  height: 40px;
  width: 40px;
  background: white;
  padding: 10px;
  border-radius: 50px;
}


.header-contacts .header-social-icons svg{
    background: #fff;
    color: #393536;
    padding: 10px;
    border-radius: 50px;
}
.header-contacts .nav-address{
    color: #fff;
}
.navbar-expand-lg .navbar-nav .nav-link {
   
    justify-content: space-evenly;
}
/* .img-fluid {
    max-width: 100%;
    height: 100px;
    width: 100%;
} */
.transport{
  font-family: "Lato", sans-serif;
  font-size: 24px;
  color: #050505;
  font-weight:700;
}
.about-img-wrapper {
  display: flex;
  position: relative;
}

.about-border {
  border: 2px solid orange;
  width: 80%;
  margin-left: 32px;
  border-radius: 20px;
 

}
.about-img-wrapper-two {
  display: flex;
  position: relative;
  right: -119px;
  height: 100%;
}



.about-img-three {

  position: relative;
  margin-left : 10%;
}



.about-img-three img {
  width: 100%;
  height: auto;
  margin-left : 10%;
  height: 70%;
}


.about-img-three {
  position: absolute;
  top: 50px; /* Adjust top offset */
  right: 0;
}



button.btn.btn-warning {
  margin-left: 50px;
}
.why-us{
  margin-bottom: 150px;
  margin-top: 50px;
  
}
.btn{

    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}

.navbar-expand-lg .navbar-nav {
    flex-direction: row;
    font-weight: bolder;
    color: black;
    
}
.navbar-expand-lg .navbar-nav .nav-link {
  
  justify-content: space-evenly;
}
.nav-link{
    color: black;
}

  /* .notice{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(Assets/image/loading-of-cargo-airplane-2023-11-27-05-35-58-utc-1536x1024.jpg);
   
     
      
  } */
  
 
  .first-text {
    font-size: 17px;
    color: #FFCA2C;
    font-weight: bolder;
    display: flex;
    
  }
  
.user{
  margin-top: px;
  justify-content: space-between;
}
   
  .last-text {
    font-size: 17px;
    color: #FFCA2C;
    
    display: flex;
    
  }
  .done-text{
    text-align: left;
    font-size: 20px;
    color: #221A25;
    font-weight: 600;
    font-family: "Varela Round", sans-serif;
    
    display: flex;
  }
  
  .first-text p {
    margin-top: 30px;
    margin-left: 50px;
    font-size: 17px;
    font-family: sans-serif;
  }
  .first-two {
    font-size: 60.8px;
    color: black;
    font-weight: bolder;
    margin-left : 50px;
    font-family: sans-serif;
   
  }
  .first-two p{
    font-family: "Lato", sans-serif;
  }
  .first-three {
    font-size: 20px;
    color: black;
    font-weight: bolder;
    margin-left : 50px;
    font-family: sans-serif;
  }
  .hero-box{
    
    padding-top: 10px;
  }

.truck img{
    margin-right: 40px;
  }
  .partners{
    margin-top: 250px;
  }

  .containers img{
    width : 150px;
    align-items: center;
  
  }
 
 

  .ser-info {
    margin: 20px;
  }

  .fs-1 {
    font-size: 24px;
    font-weight: bold;
  }

  .fs-2 {
    font-size: 18px;
    line-height: 1.6;
  }
  
  .card-one-img {
    background-image: url("Assets/image/worker-loading-cargo-in-storage-room-2023-11-27-04-59-46-utc.jpg");
    background-size: cover;
    flex: 1 1 auto;
    padding: 2rem 3rem;
    background-color: #141414;
    position: relative;
}
.card-two-img{
  background-image: url("Assets/image/IATA-News.jpg");
    background-size: cover;
    flex: 1 1 auto;
    padding: 2rem 3rem;
    background-color: #141414;
    position: relative;
}

.hero-box .card-body::before{ 
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(255, 174, 33, 0.8),rgba(255, 174, 33, 0.8));
  top: 0;
  left: 0;

  z-index: 1;
    
}
.hero-box .btn{
  z-index: 2;
  position: relative;
}
.btn{
 
  font-size: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
}




/* About Us */
.text-start {
  font-family: "Varela Round", sans-serif;
  font-size: 16px;
}

.about-img-wrapper{
  position: relative;
  height: 100vh;
}
.about-img-one {
  position: absolute;
  left: 5%;
  top: -53px;
  left : 0px;
}


.about-img-one img{
  border-radius: 10px;
  height: 70%;
  width: 60%;

}

.about-img-two{
  position: relative;
  top: -35px;
  left: 80px;
  
}
.about-img-two img{
  border-radius: 10px;
  height: 300px;
  width : 500px;
}
.about-img-three{
  position: absolute;
  top: 70%;
  left : -15%;
  margin-left: 10%;
  right: 10%;

  
}
.about-img-three img{
  border-radius: 10px;
  width: 70%;
  height: 70;
}
.orange-background{
  background-color: orange; 
  height: 35%;
  width : 45%;
  left: 60%;
  top: 15%;
  padding-top: 15px;
  border: 4px solid black; /* White border */
  border-radius: 10px;
  z-index: 4;
  position: relative;
}


/* Our Service */


.notice{
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(Assets/image/loading-of-cargo-airplane-2023-11-27-05-35-58-utc-1536x1024.jpg);
  background-size: cover;
    
    width: 100%;
   
    
}



.pat{
  justify-content: space-evenly;
  align-items: center;
}

.container-abt{
  margin-top: 30px;
  margin-left: 25px;
  margin-right: 25px;
}
.notice-button{
  background-color: #FFAE21;
  padding: 16px 32px 12px 15px;
}


.testimonial-content{
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
  padding: 2em;
}
.test-star svg{
  width: 15px;
  height: 15px;
}

.test-img img{
  height: 70px;
  width: 70px;
  border-radius: 50px;
  margin: 0 auto;
}

.test-img h3{
    font-size: 16px;
}

.why-right{
  justify-content: right;
}






.packed {
  height: 61px;
  width:89px;
  color: #f14902;
}
.packed p{
  font-family: "Lato", sans-serif;
  font-size: 29.7px;
  color: #000000;
  font-weight:700;
}

.del {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}


.del-new{
  font-family: "Lato", sans-serif;
  font-size: 51.7px;
  color: white;
  font-weight:700;
  margin-bottom: -12px;
}
.touch-grid{
  padding-top: 50px;
 
  background-size: cover;
  
}
.del-des {
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
  color: #f14902;
  margin-bottom: 0%;
  margin-bottom: 40px;
  
}
.del-main{
  background-color: whitesmoke;
  background-size: cover;
}

.get {
  position: relative;
  background-image: url(Assets/image/loading-of-cargo-airplane-2023-11-27-05-35-58-utc-1536x1024.jpg);
  background-size: cover;
  width: 645px;
  height: 520px;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(Assets/image/loading-of-cargo-airplane-2023-11-27-05-35-58-utc-1536x1024.jpg);
  background-size: cover;
    
    width: 100%;
    margin-top: 50px;
    right: -30px;
}
.get-two{
  background-color: rgb(255, 174, 33);
  /* width: 645px; */
  margin-bottom: 50px;
  position: absolute;
  /* transform: matrix(1, 0, 0, 1, 0, 0); */
  /* width: 900px; */
  /* right: 0; */
  transform: translateY(-155px);

}
.get img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  filter: brightness(0) invert(1);
}

.get svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.ser-info-one {
  margin-left: 50px;
  padding-top: 30px;
 
}

.location{
  font-size: 21px;
  font-family: "Lato", sans-serif;
  color: #ffffff;
}
.location-des{
  font-size: 18px;
  font-family: "Lato", sans-serif;
  color: #ffffff;
}


/* FAQ */

@import url(https://fonts.googleapis.com/css?family=Lato);

@import url(https://fonts.googleapis.com/css?family=Open-Sans);

.faq-heading {
  font-family: Lato;   
  font-weight: 400;
  font-size: 19px;
   -webkit-transition: text-indent 0.2s;
  text-indent: 20px;
  color: #333;
}

.faq-text {
  font-family: Open Sans;   
  font-weight: 400;
  color: #919191;
  width:95%;
  padding-left:20px;
  margin-bottom:30px;
}
.hero-section{
  height: min-content;
}





ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
img {
max-width: 100%;
height: auto;
}



/* Footer */
.site-footer {
  background-color: #222; /* Dark background */
  color: #fff; /* White text */
 
  font-size: 15px;
}


.footer-links {
  list-style: none;
  padding-left: 0;
}

.footer-links li {
  margin-bottom: 10px;
}

.footer-links a {
  color: #fff;
}

.copyright {
  text-align: center;
}





